@model List<MemeGenerator.Data.User>

@{
    ViewBag.Title = "Index";
}

<h2>Moderators</h2>

@Html.ActionLink("Add Moderator", "Add", "Moderator", null, new { @class = "btn btn-primary"})

<table class="table table-responsive">
    <thead>
        <th>Username</th>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td> @user.Username </td>
            </tr>
        }     
    </tbody>
</table>
