@model MemeGenerator.Data.Template

@{
    ViewBag.Title = "Create";
}

@section links{
    <link href="~/Content/Create.css" rel="stylesheet" />
}

<h2>@Model.Title</h2>
<div>
    <div>
        <img id="template" class="meme-img" src=@Model.Url />
    </div>

    <div>
        <form>
            <input id="textbox1" type="text" />
            <input id="textbox2" type="text" />
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

@*@Html.BeginForm("Create", "Home", FormMethod.Post){ 
    
}*@