@model MemeGenerator.Data.Template

@{
    ViewBag.Title = "Create";
}

@section links{
    <link href="~/Content/Create.css" rel="stylesheet" />
}

<h2>@Model.Title</h2>
<div>
    <div>
        <img id="template" style="display: none" class="meme-img" src=@Model.Url />
    </div>
    <div>
        <canvas id="canvas"></canvas>
    </div>
    <div>
        <form>
            @foreach (var coord in Model.Coordinates)
            {
                <input class="textbox" type="text" data-X=@coord.X data-Y=@coord.Y />
            }
            
            <button id="submit" class="btn btn-primary" type="button">Submit</button>
        </form>
    </div>
</div>

<script src="~/Scripts/createMeme.js"></script>

@*@Html.BeginForm("Create", "Home", FormMethod.Post){ 
    
}*@