
@{
    ViewBag.Title = "Index";
}

@section links{
    <link href="~/Content/index.css" rel="stylesheet">
}
@if (Request.IsAuthenticated)
{
    <h2>Welcome to MemeGenerator, @User.Identity.Name !</h2>
}
else
{
    <h2>Welcome to MemeGenerator!</h2>
}

<div class="form-horizontal">
    
    <input type="text" name="filter" id="filter" />
    <button id="Search">Search</button>
    <button id="Clear">Clear</button>
</div>

<ul id="list"></ul>

<script src="~/Scripts/index.js"></script>