@model List<MemeGenerator.Data.Template>
@{
    ViewBag.Title = "Templates";
}

<h2>Templates</h2>


@section links{
    <link href="~/Content/index.css" rel="stylesheet">
}

@Html.ActionLink("Create", "Create", "Template", null, new { @class="btn btn-primary"})
<ul id="list">
    @foreach (var template in Model)
    {
        <li>
            <h4>@template.Title</h4>
            <a href=@Url.Action("Create", "Home", new { id = template.Id })>
                <img class="meme-img" src=@template.Url alt=@template.Title />
            </a>
        </li>
    }
</ul>

@*<script src="~/Scripts/template.js"></script>*@
