
@{
    ViewBag.Title = "Templates";
}

<h2>Templates</h2>


@section links{
    <link href="~/Content/index.css" rel="stylesheet">
}

<ul id="list"></ul>

<script src="~/Scripts/template.js"></script>
