@model List<MemeGenerator.Data.Template>
@{
    ViewBag.Title = "Templates";
}

<h2>Templates</h2>


@section links{
    <link href="~/Content/index.css" rel="stylesheet">
}

@Html.ActionLink("Create new template", "Create", "Template", null, new { @class="btn btn-primary"})
<br />
<br />
<div class="form-horizontal">

    <input type="text" class="form-control" name="filter" id="filter" />
    <button id="Search" class="btn btn-primary">Search</button>
    <button id="Clear" class="btn btn-success">Clear</button>
</div>
<ul id="list">
    @*@foreach (var template in Model)
    {
        <li>
            <h4>@template.Title</h4>
            <a href=@Url.Action("Create", "Home", new { id = template.Id })>
                <img class="meme-img" src=@template.Url alt=@template.Title />
            </a>
        </li>
    }*@
</ul>

<script src="~/Scripts/template.js"></script>
